<div class="pt-3 d-flex justify-content-center">
    <div class="borderRequest col-5 p-4 rounded">
        <div class="col-12 d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#5084C1">
                <path
                    d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
            </svg>
            <p class="pt-3 ps-2">แบบฟอร์มขอลางาน</p>
        </div>
        <form [formGroup]="requestFormGroup">
            <div class="row col-12">
                <div class="col-12">
                    <p class="mt-3 textForm">ประเภทการลา</p>
                    <select class="form-select" formControlName="leaveType">
                        <option value="null" selected disabled hidden>เลือกประเภทการลา</option>
                        <option value="vacation_leave">ลาพักร้อน</option>
                        <option value="sick_leave">ลาป่วย</option>
                        <option value="personal_leave">ลากิจ</option>
                    </select>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-6">
                    <p class="mt-3 textForm">วันที่เริ่มต้น</p>
                    <input type="date" class="form-control" formControlName="dateStart" [min]="today">
                </div>
                <div class="col-6">
                    <p class="mt-3 textForm">วันที่สิ้นสุด</p>
                    <input type="date" class="form-control" formControlName="dateEnd"
                        [min]="requestFormGroup.get('dateStart')?.value">
                </div>
            </div>
            <div class="row col-12">
                <div class="col-12">
                    <p class="mt-3 textForm">เหตุผลการลา</p>
                    <textarea class="form-control" aria-label="With textarea" formControlName="reason"></textarea>
                </div>
            </div>
            <div class="row col-12">
                <div class="col-12 justify-content-end d-flex mt-3">
                    <button type="submit" class="btn btn-secondary me-3" (click)="cancelLeaveRequest()">ยกเลิก</button>
                    <button class="btn btn-primary" (click)="sendLeaveRequest()">ส่งคำขอลา</button>
                </div>
            </div>
        </form>
    </div>
</div>