<div class="col-12">
    <div *ngIf="(requestPending.length > 0)">
        <div *ngFor="let item of requestPending">
            <div class="col-12 ps-2 pe-2 mt-4">
                <div class="col-12 borderPending rounded">
                    <div class="col-12 ps-4 pe-4 pt-4 pb-2">
                        <h5>{{item.username}}</h5>
                        <p>{{item.userDepartment}}</p>
                        <div class="line-horizon mt-4"></div>
                        <div class="row col-12">
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo">ประเภทการลา</p>
                                <p *ngIf="item.leaveTypeId == 'sick_leave'">ลาป่วย</p>
                                <p *ngIf="item.leaveTypeId == 'personal_leave'">ลากิจ</p>
                                <p *ngIf="item.leaveTypeId == 'vacation_leave'">ลาพักร้อน</p>
                            </div>
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo">จำนวนวัน</p>
                                <p>{{item.amountDays}} วัน</p>
                            </div>
                        </div>
                        <div class="row col-12">
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo">วันที่เริ่มต้น</p>
                                <p>{{item.startDate | dateToShow }}</p>
                            </div>
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo">วันที่สิ้นสุด</p>
                                <p>{{item.endDate | dateToShow }}</p>
                            </div>
                        </div>
                        <div class="row col-12 pb-3">
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo">เหตุผลการลา</p>
                                <p class="text-break ">
                                    {{item.reason}}
                                </p>
                            </div>
                            <div class="col-6">
                                <p class="mt-3 textForm textRequestInfo"><svg xmlns="http://www.w3.org/2000/svg"
                                        height="20px" viewBox="0 -960 960 960" width="20px" fill="#999999">
                                        <path
                                            d="M864-96 720-240H168q-29.7 0-50.85-21.15Q96-282.3 96-312v-480q0-29.7 21.15-50.85Q138.3-864 168-864h624q29.7 0 50.85 21.15Q864-821.7 864-792v696ZM168-312h582l42 42v-522H168v480Zm0 0v-480 480Z" />
                                    </svg> ความคิดเห็น</p>
                                <textarea #comment class=" form-control commentTextArea"></textarea>
                            </div>
                        </div>
                        <div class="row col-12 pb-3">
    
                            <div class="col-12 justify-content-end align-items-end d-flex">
                                <button (click)="rejected(item.id , comment.value)" type="submit"
                                    class="btn btn-danger me-4"><svg xmlns="http://www.w3.org/2000/svg" height="20px"
                                        viewBox="0 -960 960 960" width="20px" fill="#FFFFFF">
                                        <path
                                            d="m291-240-51-51 189-189-189-189 51-51 189 189 189-189 51 51-189 189 189 189-51 51-189-189-189 189Z" />
                                    </svg>ไม่อนุมัติ</button>
                                <button (click)="approved(item.id , comment.value)" class="btn btn-success"><svg
                                        xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                                        width="20px" fill="#FFFFFF">
                                        <path d="M389-267 195-460l51-52 143 143 325-324 51 51-376 375Z" />
                                    </svg>อนุมัติ</button>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!(requestPending.length > 0)">
        <diV class="d-flex justify-content-center align-items-center mt-5 pt-5">
            <svg xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#999999"><path d="M838-80 728-190q-21 17-46.5 23.5T630-160q-70.83 0-120.42-49.62Q460-259.24 460-330.12t49.62-120.38q49.62-49.5 120.5-49.5t120.38 49.58Q800-400.83 800-330q0 26-6.5 52T770-232l110 110-42 42ZM629.86-220Q676-220 708-251.86t32-78Q740-376 708.14-408t-78-32Q584-440 552-408.14t-32 78Q520-284 551.86-252t78 32ZM840-530h-60v-250h-60v90H240v-90h-60v600h250v60H180q-26 0-43-17t-17-43v-600q0-26 17-43t43-17h202q7-35 34.5-57.5T480-920q36 0 63.5 22.5T578-840h202q26 0 43 17t17 43v250ZM480-780q17 0 28.5-11.5T520-820q0-17-11.5-28.5T480-860q-17 0-28.5 11.5T440-820q0 17 11.5 28.5T480-780Z"/></svg>
            <h5 style="color: rgb(165, 165, 165);"> ไม่มีคำขอลางาน</h5>
        </diV>
    </div>

</div>