<div class="">
    <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
    </canvas>

    <!-- <table class="table">
                <thead>
                    <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">ประเภท</th>
                        <th scope="col">จำนวนวัน</th>
                        <th scope="col">สถานะ</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                        <tr *ngFor="let req of myRequest">
                            <td>
                                <span *ngIf="!(req.amountDays <= 1)">{{ req.startDate | dateToShow }} - {{ req.endDate | dateToShow }}</span>
                                <span *ngIf="req.amountDays <= 1">{{ req.startDate | dateToShow }}</span>
                            </td>
                            <td>
                                <span *ngIf="req.leaveTypeId == 'sick_leave'">ลาป่วย</span>
                                <span *ngIf="req.leaveTypeId == 'personal_leave'">ลากิจ</span>
                                <span *ngIf="req.leaveTypeId == 'vacation_leave'">ลาพักร้อน</span>
                            </td>
                            <td>{{req.amountDays}}</td>
                            <td>
                                <div>
                                    <span style="font-size: 15px; font-weight: 500;"
                                        class="badge rounded-pill text-bg-warning"
                                        *ngIf="req.status == 'waiting'"
                                        >รออนุมัติ</span>
                                </div>
                                <div>
                                    <span style="font-size: 15px; font-weight: 500;"
                                        class="badge rounded-pill text-bg-success"
                                        *ngIf="req.status == 'approved'"
                                        >อนุมัติ</span>
                                </div>
                                <div>
                                    <span style="font-size: 15px; font-weight: 500;"
                                        class="badge rounded-pill text-bg-danger"
                                        *ngIf="req.status == 'rejected'"
                                        >ไม่อนุมัติ</span>
                                </div>
                            </td>
                        </tr>

                </tbody>
            </table> -->


</div>